<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>demo_project</title>
    <link href=/static/css/app.81901b24594fc7d4a4603d8e5b151ac5.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script>
<script type=text/javascript src=/static/js/vendor.5d2d076d9f72b1b75906.js></script>
<script type=text/javascript src=/static/js/app.bfef0f0ebc82449e7ed9.js></script>
</body>
</html>
